{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Fiftyeveryday - Coming soon!</title>
    <style>
        body{
            padding:    0px;
            margin:     0px;
            background-color: rgba(27,30,35,255);
        }
        .container{
            width:      1440px;
            height:     908px;
            margin:     0px auto;
            background: rgba(0,0,0,0) url("{% static 'main/img/index.jpg' %}") no-repeat 0px 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="thanks-container"></div>
    </div>
</body>
</html>